@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@1,300&family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--light-bg);
  font-family: 'Poppins', sans-serif;
}
/* #90caf9 */
button{
  cursor: pointer;
}
:root{
  --overlay:#101010d1;
  --bg:#121212;
  --font:#fff;
  /* --light-bg:#e3f2fd; */
  --light-bg:#fff;
  --light-overlay:#42a5f5;
  --light-font:#fff;
  --head:#29b6f6;  

}

.err{
  color: red;
  font-weight: bolder;
}
.lgout{
  margin: 1rem;
  font-size: 1.3rem;
}
body {
  margin: 0;
  font-family: 'Finlandica', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Uchen', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--light-bg); */
  /* background-image: url(https://images.unsplash.com/photo-1585495608941-d5ec3a2108c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGFpciUyMHBvbGx1dGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60); */
  /* background-image: url(./assets/pollutionAppBg.png);
  background-image: url(https://images.unsplash.com/photo-1561620831-9b2d86d81226?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80); */
  background-image: url(./assets/pexels-prachot-yuenyong-9298859.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #12121281;
  background-blend-mode: multiply;
  color: var(--light-font);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay{
  background-color: var(--overlay);
  padding: 1rem;
  border: 1px solid #fff;
  width: 300px;
  margin: auto;
  color: var(--font);
  margin-top: 5rem;
}

.full{
  width: 100vw;
  height: 100vh;
}

.indexpg{
  display: flex;  
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  height: 90vh;
  margin-top: 10rem;
}
.heading{
  color: var(--light-font);
  border-bottom: 1px solid var(--bg);
  padding-bottom:.5rem ;
}
.options{
  width: 70%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font);
  background-color: var(--overlay);
  border: .5px solid var(--overlay);
}

.userpg{
  overflow-y: scroll;
}
.fields{
  width: 100%;
}
.fields input{
    margin: 8px 0px;
    width: 95%;
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(40, 6, 92);
    padding: 10px 0px 10px 4px;
    font-size: inherit;
}
.fields label{
  padding: 1rem;
  padding-left: 0;
  font-weight: bolder;
  font-size: 1.2rem;
}

.center{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center h2{
  padding: .5rem;
  font-size: 3rem;
  margin: 1rem;
}

.navbar{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  position: fixed; 
  bottom: 0;  
  padding: 1rem;
  background-color: var(--overlay);
  color: var(--font);
  text-align: center;
}

.home{
  height: 100vh;
  width: 95vw;
  font-size: 1.2rem;
  margin-top: 3rem; 
}

.rto{
  width: 100vw;
  height: 100vh;
}
.serviceCenter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form1,.form2{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sercen{
  margin: 1rem;
}

.sercen input,.eee{
  margin-left: 1.5rem;
}
table {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 20vh;
}
table, th, td {
  border: 1px solid var(--bg);
}

.section-2{
  width: 90%;
  margin: auto;
}
.names{
  width: 40%;
}

.role{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.role h4{
  font-size: 1.7rem;
}

.role label{
  display: flex;
  width: 100%;
  padding: .2rem;
}

@media screen and (min-width: 950px) and (max-height: 1310px) {
  .full,.center,table,.navbar,.indexpg ,.userpg,.serviceCenter,.rto{
    width: 60vw;
    margin: auto;
  }
  .navbar{
    left: 20%;
    margin-bottom: 1rem;
  }
  .navbar div{
    cursor: pointer;
  }
  
  .userpg::-webkit-scrollbar{
    display: none;
  }
  .role{
    cursor: pointer;
  }
  label{
    cursor: pointer;  
  }
  .rto{
    display: flex;
    flex-direction: column;
  }
}

.section-2{
  height: 300px;
  overflow-y: scroll;
}

.persons  {
  padding: 1rem;
  text-align: center;
  color: var(--font);
}

.appName{
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  display: flex;  
  gap: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding-left: 2rem;
  width: 100vw;
  margin-bottom: 2rem;
}
.appName img{
  border-radius: 50%;
  width: 4rem;
}

.appName h1{
  align-self: center;
  font-size: 2rem;
}

